:host /deep/ .marker {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #B8D94C;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    font-size: 16px;
    color: #003A5B;
    cursor: pointer;
}
:host /deep/ .marker:hover {
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    margin-top: -2px;
    margin-left: -2px;
}
:host /deep/ .marker.male {
    background: #97cfcb;
}
:host /deep/ .marker.male:before {
    border-top-color: #97cfcb;
}
:host /deep/ .marker.female {
    background: #f49f99;
}
:host /deep/ .marker.female:before {
    border-top-color: #f49f99;
}
:host /deep/ .marker.unknown {
    background: #d9d9d9;
}
:host /deep/ .marker.unknown:before {
    border-top-color: #d9d9d9;
}
:host /deep/ .marker .photo {
    margin-top: 2px;
}
:host /deep/ .photoSizeMarker {
    height: 24px;
    line-height: 24px;
    width: 24px;
}
:host /deep/ .photoSizeMarker.icon::before {
    font-size: 20px;
}